<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dead of Thrones</title>

  <!-- stylesheets -->
  <link rel="stylesheet" href="/assets/fonts/armantic/stylesheet.css">
  <link rel="stylesheet" href="/assets/fonts/deadfontwalking/stylesheet.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <div class="full-container is-first">
    <header class="header text-center">
      <h1>DEAD OF THRONES</h1>
    </header>
    <div class="wrap introduction">
      <div class="introduction-content pull-left text-center">
        <img class="introduction-george" src="/assets/images/george.png" alt="">
      </div>
      <div class="introduction-content pull-left text-right">
        <p> <span class="secondary-color">Lorem ipsum dollor sit</span> <br /> ammet game of thrones hbo series fucking awesome website </p>
      </div>
    </div>

    <div class="down-arrow secondary-font text-center">
      <div class="down-arrow-wrap">
        <a href="#">
          <div class="down-arrow-piece down-arrow-left">\</div>
          <div class="down-arrow-piece down-arrow-right">/</div>
        </a>
      </div>
    </div>

    <div class="blood-decoration is-first">
      <div class="blood-decoration-item blood-up-01"></div>
      <div class="blood-decoration-item blood-up-02"></div>
    </div>
  </div>

  <div class="full-container is-second is-character">
    <div class="character wrap">
      <div class="text-center">
          <h2 class="character-title primary-font">Eddard Stark</h2>
      </div>

      <div class="character-wrap">
        <div class="character-image-holder blood-photo-holder">
          <img class="character-image"
            src="http://placehold.it/200x200"
            alt="">
        </div>
        <div class="pull-right character-info">
          <ul class="clear-list text-right character-info-list">
            <li>"Adipisicing dolores quis praesentium alias architecto tenetur quisquam quas. Repellat."</li>
            <li class="character-info-item"><i class="icons-castle"></i> Winterfell</li>
            <li class="character-info-item"><i class="icons-cross"></i> Ipsum veritatis cumque fugiat nobis amet. Quos dolor sed id! </li>
            <li class="character-info-item"><i class="icons-sword"></i><a href="#"> See More</a></li>
        </div>
        <div class="text-center clearfix">
          <a class="btn" href="#">SHOW ME ANOTHER DEAD!</a>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer container">
    <div class="blood-decoration-item blood-down-01 footer-left-decoration"></div>
    <div class="blood-decoration-item blood-down-02 footer-right-decoration"></div>

    <div class="wrap">
      <p class="pull-left">created with by a huge fan from the game of thrones series!</p>
      <p class="pull-right">
        <a href="#">@ _weslleyaraujo</a>
      </p>
    </div>
  </footer>
</body>
</html>
