<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dead of Thrones</title>

  <!-- deps -->
  <link rel="stylesheet" href="/assets/bower_components/animate.css/animate.css">

  <!-- stylesheets -->
  <link rel="stylesheet" href="/assets/fonts/armantic/stylesheet.css">
  <link rel="stylesheet" href="/assets/fonts/deadfontwalking/stylesheet.css">
  <link rel="stylesheet" href="/assets/css/main.css">


  <!-- <link rel="stylesheet" href="/assets/css/application.min.css"> -->

</head>
<body ng-app="dod">
  <div class="full-container is-first">
    <header class="header text-center animated bounceInDown">
      <h1>DEAD OF THRONES</h1>
    </header>
    <div class="wrap introduction">
      <div class="introduction-content pull-left text-center animated bounceInLeft">
        <img class="introduction-george" src="/assets/images/george.png" alt="">
      </div>
      <div class="introduction-content pull-left text-right animated bounceInRight">
        <p> <span class="secondary-color">Dead characters killed by</span> <br /> our sweet George RR Martin! </p>
      </div>
    </div>

    <div class="down-arrow secondary-font text-center animated bounceInUp scroll-to animation-delay-5">
      <div class="down-arrow-wrap">
        <a go-to container="#character-container"
          class="scroll-to">
          <div class="down-arrow-piece down-arrow-left">\</div>
          <div class="down-arrow-piece down-arrow-right">/</div>
        </a>
      </div>
    </div>


    <div class="blood-decoration is-first">
      <div class="blood-decoration-item blood-up-01"></div>
      <div class="blood-decoration-item blood-up-02"></div>
    </div>
  </div>

  <div class="full-container is-second is-character"
    id="character-container"
    ng-controller="dod.characters.controllers.Character as characterCtrl">
    <div class="character wrap">
      <div class="text-center">
        <h2 class="character-title primary-font" ng-class="{ isLoading: isLoading }" >{{ character.title | clearName }}</h2>
      </div>

      <div class="character-wrap" >
        <div class="character-image-holder blood-photo-holder" ng-class="{ isLoading: isLoading }">
          <div class="character-image" style="background-image: url(/characters/{{ character.image }})"></div>
        </div>
        <div class="pull-right character-info" ng-class="{ isLoading: isLoading }" >
          <ul class="clear-list text-right character-info-list">
            <li>"{{ character.quote | limitTo:120 }}"</li>
            <li ng-show="!!character.place" class="character-info-item"><i class="icons-castle"></i> {{ character.place }}</li>
            <li ng-show="!!character.death" class="character-info-item"><i class="icons-cross"></i> {{ character.death }}</li>
            <li ng-show="!!character.url" class="character-info-item"><i class="icons-sword"></i><a href="{{ character.url }}"> See More</a></li>
        </div>
        <div class="text-center clearfix">
          <a class="btn" ng-click="characterCtrl.update()">SHOW ME ANOTHER DEAD!</a>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer container">
    <div class="blood-decoration-item blood-down-01 footer-left-decoration"></div>
    <div class="blood-decoration-item blood-down-02 footer-right-decoration"></div>

    <div class="wrap">
      <p class="pull-left">created with ❤ by a huge fan from the game of thrones series!</p>
      <p class="pull-right">
        <a href="#">@ _weslleyaraujo</a>
      </p>
    </div>
    {{ onClick }}
  </footer>

  <script src="/assets/bower_components/jquery/dist/jquery.js"></script>
  <script src="/assets/bower_components/angular/angular.js"></script>

  <script src="/assets/javascripts/boot.js"></script>
  <script src="/assets/javascripts/config.js"></script>

  <!-- services -->
  <script src="/assets/javascripts/shared/services/getCharacter.js"></script>

  <!-- filters -->
  <script src="/assets/javascripts/shared/filters/clearName.js"></script>

  <!-- directives -->
  <script src="/assets/javascripts/shared/directives/goTo.js"></script>

  <!-- modules -->
  <script src="/assets/javascripts/modules/characters/characterCtrl.js"></script>

</body>
</html>
