// *****
// Character
//
// ***

$module-name: 'character'
$module-font-size: 30px
$module-title-font-size: 140px

.#{$module-name}
  position: relative
  z-index: $z-index-character
  font-size: $module-font-size

.#{$module-name}-title
  color: $main-text-color
  font-size: $module-title-font-size
  margin: 55px 0 0 0

.#{$module-name}-image-holder
  left: -140px
  position: absolute
  img
    top: 55px
    position: absolute
    left: 182px
    +border-radius(50%)

.#{$module-name}-info
  width: 640px
  margin: 50px 0 0 0
  height: 315px

.#{$module-name}-info-list
  li
    margin: 10px 0

.#{$module-name}-info-item
  font-size: 25px

.#{$module-name}-info, .#{$module-name}-image-holder, .#{$module-name}-title
  +opacity(1)
  +transition(0.5s)
  &.isLoading
    +opacity(0)
