// *****
// Down Arrow
//
// ***

$module-name: 'down-arrow'

.#{$module-name}
  font-size: $down-arrow-font-size
  position: absolute
  width: 100%
  bottom: -50px
  z-index: $z-index-down-arrow
  a
    cursor: pointer

.#{$module-name}-wrap
  width: 170px
  height: 150px
  margin: 0 auto
  position: relative

.#{$module-name}-piece
  position: absolute

.#{$module-name}-left
  +transform(rotate(-47deg))

.#{$module-name}-right
  left: 70px
  +transform(rotate(33deg))
