// ******************
// Media query 
// ***
@media only screen and (max-width: 1000px)
  .wrap
    width: 95%
  .footer .wrap
    position: relative
    z-index: 10

@media only screen and (max-width: 720px)
  .header h1
    font-size: 60px
  .introduction-content
    width: 100%
    float: none
    text-align: center
  .full-container,
  .full-container.is-table
    display: block
    width: auto
  .blood-decoration
    display: none
  .character
    display: block
    width: 95%
    margin-left: auto
    margin-right: auto
  .character-title
    padding-top: 50px
    font-size: 80px
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5)
  .character-image-holder
    width: 100%
    position: relative
    left: -40px
  .character-info
    height: auto
    width: 100%
    margin: 0 0 20px 0
  .character-info-list
    text-align: left
  .footer .wrap > p,
  .footer .wrap > ul
    float: none
  .footer .wrap > p
    text-align: center
  .footer .wrap > ul
    width: 110px
    margin: 0 auto

@media only screen and (max-width: 880px)
  .character .btn
    position: relative

@media only screen and (max-height: 830px)
  // Hide the arrow for small resolutions (height)
  .down-arrow
    display: none