// ******************
// Media query 
// ***
@media only screen and (max-device-width: 500px)
  .wrap
    width: 100%

  .introduction-content
    width: 100%
    clear: both
    text-align: center

  .blood-decoration,
  .blood-decoration-item,
  .down-arrow
    display: none

  .character-info
    width: 100%
    padding: 0
    float: none

  .character-info-list
    text-align: center
  
  .footer p
    text-align: center
    float: none
    
